


<div class="container">
  <div class="banner">
   <h2>Zonas</h2>
</div>

  <div class="table-responsive banner">          
      <table class="table table-striped table-bordere.jsd">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre zona</th>
          <th>Color</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

       <% @zones.each do | zone | %>
        <tr>
          <td><%= zone.id %></td>
          <td><%= zone.nombre_zona %></td>
          <td><%= zone.color %></td>
          <td > 
            <div class="pull-right">
              <%= link_to '<i class="fa fa-eye" ></i>'.html_safe, zone_path(zone), class: "btn btn-default btn-view"  %>
              <%= link_to '<i class="fa fa-pencil" ></i>'.html_safe, edit_zone_path(zone), class: "btn btn-default btn-edit"  %>
              <%= link_to '<i class="fa fa-trash-o" ></i>'.html_safe,  zone, remote: true,  method: :delete, data: { confirm: 'Seguro que desea eliminar el cliente?' }, class: "btn btn-default btn-delete"  %>
            </div>
          </td>
        </tr>
       <% end %>

      </tbody>
    </table>
  </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="map-system">
                <div id="map" class="map"></div>
            </div> 

        </div>
    </div>

<br>

<%= link_to 'New Zone', new_zone_path %>
  
</div>


<script type="text/javascript">
  viewZonesAll(<%=raw @polyjson %>, 1);
</script>
